@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    
    <div class="col-md-12" style="align-items:flex-start">
        <div class="row no-gutters border mb-4">
            <h1 class="display-4">Welcome to Students App</h1>
            <p>..This App just for getting started with Docker training..</p>
        </div>
    </div>

</div>